#logout {
    cursor: pointer;
    position: absolute;
    top: 1.5em; right: 3.5em;
    padding: 0.7em 0.9em;
    background-color: rgba(0,0,0, .2);
    border-radius: 14px;

    transition: background-color 200ms ease-in-out;

    &:hover {
        background-color: rgba(0,0,0, .3);
    }
}

.wrapper {
    display: flex;
    width: 350px;
    margin: 4em auto 1em;

    flex-direction: column;

    form {
        width: 100%;
        position: relative;

        input[name="name"] {
            width: calc(100% - 30px);
            border-bottom: 1px solid #ddd;
            margin: 0.7em 0;
            padding: 0.3em;
            outline: none;
        }

        i {
            font-size: 24px;
            position: absolute;
            right: 0;
            top: 13px;
            color: #ababab;
            cursor: pointer;
        }

        margin-bottom: 1em;
    }

    ul {
        width: 100%;
        li {
            position: relative;
            padding: .4em 0;
            i {
                font-size: 24px;
                cursor: pointer;
                position: absolute;
                top: 3px;

                &:nth-of-type(1) {
                    right:0;
                }

                &:nth-of-type(2) {
                    color: #dc3545;
                    display: none;
                    left: 0;
                    margin-left: -2em;
                    width: 2em;
                }
            }

            &:hover {
                i:nth-of-type(2) {
                    display: initial;
                }
            }
        }
    }
}