{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/game.css">
{% endblock %}

{% block body %}
<div class="wrapper">
    <iframe src="/canvas"></iframe>
    
    <ul class="menu">
        <li>Settings</li>
        <li>Saves</li>
        <li>Logout</li>
    </ul>

    <div id='buildingGUI'></div>

    <!-- tools -->

    <div id='stats' class="opened">
        <div>Statistics</div>
        <div><i class="material-icons close">close</i></div>
    </div>

    <div id="tools"></div>
</div>

<script src="/static/js/game.js"></script>
{% endblock %}